

.clearout {
height:20px;
clear:both;
}

#ul-horizontal-nav{
    display: inline-block;
}


.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px 50px;
    list-style-type:none;   
    text-align:center;  
    overflow: auto;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    background-color: #fff;
    border-top: 1px solid #eee;

}

.nbs-flexisel-item {

    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;


}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:30px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);   

    background-color: #00bcd4;
    color: #fff;
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: " < "
}



.nbs-flexisel-nav-right {
    right: 10px;
}

.nbs-flexisel-nav-right:before {
    content: " > "
}

