.accordian {
    width: 805px; height: 40px;
    overflow: hidden;

    /*Time for some styling*/
    margin: 5px auto;

}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
    width: 1200px;
    /*This will give ample space to the last item to move
    instead of falling down/flickering during hovers.*/
}

.accordian li {
    position: relative;
    display: block;
    width: 160px;
    float: left;

    border-left: 1px solid #888;

    /*box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);*/
    /*-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);*/
    /*-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);*/

    /*Transitions to give animation effect*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    /*If you hover on the images now you should be able to
    see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
    display: block;
}

/*Image title styles*/
.image_title {
    background: #00bcd4;
    position: relative;
    left: 0; bottom: 0;
    text-align: center;
    width: 640px;

}
.image_title a {
    display: block;
    color: #fff;
    text-decoration: none;

    font-size: 16px;
}
