#profile-page-header .card-profile-image {
	top:8px;
}
#profile-page-header .card-image{
	height: 45px;
}
#profile-page-header{
	box-shadow: none;
}
#profile-page-header .card-content{
	padding : 0px 0px 0px 20px;
	margin-top: 0px;
	border-left: 2px solid #0098a6;
}
.display_inline{
	display: inline-block;
	margin-right: 15px;
	padding-left: 5px;
}

.display_inline i{
	margin-right: 5px;
}
#profile-page-header .card-content .card-title{
	margin-top: 0px;
	line-height: 25px;
}
.separator {
	border-bottom: 1px solid #eee;
    margin-bottom: 5px !important;
}
.text_grey{
	color: #656363 !important;
	text-transform: uppercase;
}
.sub_title{
	    margin: 0px 0px 5px 0px;
    padding: 5px;
    border-bottom: 1px solid #9fd7f1;
    color: #03a9f4;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px !important;
}
.sub_title p {
	margin: 0px;
}
.uppercase{
	text-transform: uppercase;
}
#profile-page-wall .tab-content{
	padding-top: 5px;
}